.Normal_Page_Background {
    position: relative; /* Ensures it stays below */
    margin-top: 0px; /*REMOVE THIS FOR NON-INTRODUCTORY PAGES*/

    background-image: url('/images/3rdBackground.png'); /* Use absolute path */
    background-size: cover; /* Ensures the image covers the div */
    background-position: top; /* Displays the top part of the image first */
    background-repeat: no-repeat; /* Prevents repetition */
    min-height: 550px; /* Set an initial small height */
    overflow: hidden; /* Prevents overflow */
    transition: height 0.3s ease-in-out; /* Smooth transition when expanding */
    padding-top: 80px;
    padding-bottom: 80px;
}
.WhiteCard
{
    padding: 40 20;
    background-color: rgba(255,255,255,.75);
    border:1px solid black;
    border-radius: 10px;
    

}

