@tailwind base;
@tailwind components;
@tailwind utilities;


*{
	color:#222222;
	margin:0px;
	padding: 0px;
}
body, html {
    overflow-x: hidden; /* Prevents horizontal scrolling */
}

html::-webkit-scrollbar, 
body::-webkit-scrollbar {
    display: none; /* Hides scrollbar in Chrome, Safari, and Edge */
}

/* FONT Enforcement */
:root {
    --bs-body-font-family: "Poppins", "Inter", "Montserrat", "Nunito" !important;
    --bs-body-font-size: 16px;
    --bs-body-font-weight: 400;
    --bs-body-line-height: 1.6;
    --bs-body-color: #222222;
    --bs-body-text-align: left;
    --bs-body-bg: #ffffff;
}

* {
    font-family: "Poppins", "Inter", "Montserrat", "Nunito" !important;
}

body, button, input, textarea, select, p, h1, h2, h3, h4, h5, h6, span, div {
    font-family: "Poppins", "Inter", "Montserrat", "Nunito" !important;
}

body {
    all: unset;
    font-family: "Poppins", "Inter", "Montserrat", "Nunito" !important;
}
/*
[class*="col-"] {
    padding: 5px !important;
}
*/
.Flex_Row{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.Normal_Page_Background {
    position: relative; /* Ensures it stays below */
    margin-top: 0px; /*REMOVE THIS FOR NON-INTRODUCTORY PAGES*/

    background-image: url('/images/3rdBackground.png'); /* Use absolute path */
    background-size: cover; /* Ensures the image covers the div */
    background-position: top; /* Displays the top part of the image first */
    background-repeat: no-repeat; /* Prevents repetition */
    min-height: 700px; /* Set an initial small height */
    overflow: hidden; /* Prevents overflow */
    transition: height 0.3s ease-in-out; /* Smooth transition when expanding */
    padding-top: 80px;
    padding-bottom: 80px;
}