.Home_Page_Background {
    position: relative; /* Ensures it stays below */
    margin-top: 250px; /*REMOVE THIS FOR NON-INTRODUCTORY PAGES*/

    background-image: url('/images/Background.png'); /* Use absolute path */
    background-size: cover; /* Ensures the image covers the div */
    background-position: top; /* Displays the top part of the image first */
    background-repeat: no-repeat; /* Prevents repetition */
    min-height: 950px; /* Set an initial small height */
    overflow: hidden; /* Prevents overflow */
    transition: height 0.3s ease-in-out; /* Smooth transition when expanding */
    padding-top: 80px;
}
.Home_Page_Content h1{
	font-size: 3rem;
    z-index: 0;
}
.Flex_Row{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.custom-container {
    position: relative;
    max-width: 320px;
    margin: auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.custom-container .top-right-decor {
    position: absolute;
    top: -20px;
    right: -20px;
}
.custom-container .bottom-left-decor {
    position: absolute;
    bottom: -20px;
    left: -20px;
}
.inner-shadow-container-cab_book {
    position: relative;
}
.inner-shadow-container-cab_book::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 0.25rem;
    z-index: 1;
}
.inner-shadow-container-cab_book img {
    position: relative;
    z-index: 0;
}
.highlight_Cab_book {
    background-color: green;
    color: white;
    padding: 0 5px;
    border-radius: 3px;
}
.extra-bold {
    font-weight: 900;
  }
 .form-container_destination_choosing_page {
    background-color: white !important;
    opacity: 1 !important;
    z-index: 1;
  }
  