

.overview-top-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.transport-option-buttons {
  display: flex;
  gap: 16px;
}

.option-button-style {
  background-color: #d3d3d3;
  padding: 12px;
  border-radius: 8px;
  color: black;
  display: flex;
  align-items: center;
  gap: 8px;
}

.budget-summary-section {
  text-align: center;
}

.budget-small-text {
  font-size: 14px;
}

.budget-main-amount {
  font-size: 20px;
  font-weight: bold;
}

.budget-view-link {
  color: #1e90ff;
  font-size: 14px;
}

.trip-date-section {
  display: flex;
  gap: 20px;
  align-items: center;
}

.date-summary-block {
  text-align: center;
}

.date-small-text {
  font-size: 14px;
}

.date-main-value {
  font-size: 18px;
  font-weight: bold;
}

.prebuilt-plan-button {
  background-color: #facc15;
  color: white;
  padding: 12px;
  border-radius: 8px;
}

.important-notes-title {
  font-weight: bold;
  margin-bottom: 12px;
  text-align: start;
}

.important-notes-input {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  background-color: #d3d3d3;
  color: black;
}



.add-section-button {
  background-color: #facc15;
  color: white;
  padding: 12px;
  border-radius: 8px;
}

/************************************************/
